#root {
  min-height: 100vh;
  color: rgba(255,255,255,0.87);
  font-family: "Poppins", serif;
}

.landingLogo{
  font-family: "Playwrite VN", serif;
}

.metaError{
  text-shadow: 0 0 10px rgba(0,0,0);
}
.metaError:first-letter {text-transform: uppercase}